<h1>Welcome to My Travel Site</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<p><% @homeland %></p>

<ul> 
<% @countries.each do |country| %>
  <li><%= country %><br  /><li>

  	<% end %>

  </ul>

  	<%= image_tag 
  	<%= 
